@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.body {
  width: 100%;
  height: 100%;
  background: #e9e8ed;
}

.error {
    border: solid 1px #FF5B5B;
}

.error_text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: -20px;
    color: #FF5B5B;
}
.wrapper{
    padding: 40px;
  position: absolute;
  background: white;
  border-radius: 40px;
  left: 50%; 
  top: 50%;
  margin-left: max(-232px, -50vw);
  margin-top: max(-248px, -50vh);
}
.logo{
  width: 250px;
  display: block;
  margin-right: auto;
}
.field{
  width: 360px;
  margin-top: 30px;
  border-radius: 25px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: Normal;
  font-size: 14px;
  border: 2px solid lightgray;
}

.login{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: auto;
    padding: 15px 40px;
  background: #AB54DB;
  display: block;
  border-radius: 18px;
  text-indent: 0px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  border: none;
}


.password{
  position: relative;
}
.password-control {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/view.svg) 0 0 no-repeat;
  position: absolute;
  margin-top: calc(40px - 20px / 2 + 73px / 2 + 2px); /* Margin - img_height/2 + field_height/2 + field_border */
  margin-left: calc((464px - 408px - 8px )/ -2 - 15px);
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
.view {
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
